@tailwind base;
@tailwind components;
@tailwind utilities;

// @layer components {
//     .btn-primary {
//         @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75
//     }
// }


:root {
    --primary-1: #43978E;
    --primary-2: #d35400;
    --danger-1: #e74c3c;
    --danger-2: #c0392b;
    --success-1: #2ecc71;
    --success-2: #27ae60;
    --gray-1: #f6f6f6;
    --gray-2: #ddd;
    --gray-3: #34495e;
    --text-color: #444;
    --white: #fff;
    --text-primary-color: #ffffff;
  
    --border: 1px solid var(--gray-2);
    --border-radius: 4px;
  
    --font-family : 'Roboto', sans-serif;
  }
  
  //reset
  *{
    box-sizing: border-box;
  }
  
  h1,h2,h3,h4{
    margin: 0;
  }
  
  ul{
    list-style: none;
    padding: 0;
  }
  
  img{
    max-width: 100%;
  }
  
  a{
    color: var(--text-color);
    text-decoration: none;
  }
  
  input {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 8px 15px;
  }
  
  body {
    min-height: 100vh;
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
    color: var(--text-color);
    background-color: var(--gray-1);
  }
  
  //button
  
  .btn {
    padding: 8px 15px;
    border: 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
  }
  
  .btn-primary {
    background-color: var(--primary-1);
    color: var(--text-primary-color);
  }
  
  .btn-danger {
    background-color: var(--danger-1);
    color: var(--text-primary-color);
    &:hover{
      background-color: var(--danger-2);
    }
  }
  
  .btn-success {
    background-color: var(--success-1);
    color: var(--text-primary-color);
    &:hover{
      background-color: var(--success-2);
    }
  }
  
  .card {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: white;
  }

